<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "https://cdn-assets-cloud.frontify.com/s3/frontify-cloud-files-us/eyJwYXRoIjoiZnJvbnRpZnlcL2FjY291bnRzXC9lOVwvMjI3OTQyXC9wcm9qZWN0c1wvMzI3ODQ1XC9hc3NldHNcLzM1XC82Mjk1ODYzXC9iZjQ4OWNjNWFjOWE4ZGRmMzMxMjc1MmE3MTg4YTlkOS0xNjQ0ODYyODIzLnBuZyJ9:frontify:kG82C22eeombO4lc-ecwKTeNVSxS2nFXBJR7sK0UpPU?width=2400" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Plans", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Profile", my_profile_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/johan-van-meeuwen", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
